.user-card {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-card__avatar {
    max-height: 200px;
    max-width: 200px;
}